<div class="jumbotron-fluid py-4" >
    <p class="display-3 font-weight-bold  text-center" style="color: #9f499f;">
        <i class="fas fa-users"></i>
        Clientes

    </p>
</div>
<div class="col-sm-12 py-3 ">
    <div class="row justify-content-center form-group" >
        <button class="btn btn-primary " data-toggle="modal" data-target="#detailModalCliente" onclick="limpiarDatosCliente()"><i class="fas fa-plus-circle"></i>
            Agregar</button>
        <button class="btn btn-success" onclick="filtrarTablaCliente()"><i class="fas fa-search-plus"></i>
            Buscar</button>
        <input id="txtBuscarCliente" type="text" class="col-sm-3 form-control" onkeydown="buscarCliente()">
        <button id="txtReturn" class="btn btn-grey text-white" onclick="btnRegresar()" style="display: none;"><i class="fas fa-arrow-left"></i></button>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card-body  col-md-12">
            <div class="table-responsive" >
                <table class="table table-hover table-border">
                    <thead class="bg-color-hp text-white" >
                        <tr>

                            <th scope="col">Nombre</th>
                            <th scope="col">Genero</th>
                            <th scope="col">Domicilio</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Correo</th>
                            <th class="th-sm h6 ">Detalles</th>
                        </tr>
                    </thead>
                    <tbody id="tbCliente">

                    </tbody>
                </table>
            </div>
        </div>  
    </div>
</div>

<div class="modal fade" id="detailModalCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" id="divSucursalDetalleAgregar">
    <div class="modal-dialog cascading-modal modal-avatar modal-m" role="document">
        <!--Content-->
        <div class="modal-content">
            <br>
            <!--Header-->
            <div class="modal-header bg-color-hp text-light">    
                <h5 class="mt-1 mb-2"><i class="fas fa-users"></i> Agregar Cliente</h5>
            </div>
            <!--Body-->
            <div class="modal-body text-center mb-1">
                <br>
                <!-- Formulario -->
                <div class="md-form mt-3">
                    <label for="txtNombre">Nombre</label>
                    <input type="text" class="form-control" id="txtNombre">
                </div>
                <div class="md-form mt-3">
                    <label for="txtApellidoP">Apellido Paterno</label>
                    <input type="text" class="form-control" id="txtApellidoP">
                </div>
                <div class="md-form mt-3">
                    <label for="txtApellidoM">Apellido Materno</label>
                    <input type="text" class="form-control" id="txtApellidoM">
                </div>
                <label for="txtGenero">Genero</label>
                <select id="txtGenero" class="custom-select">
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                    <option value="O">Otro</option>
                </select>
                <div class="md-form mt-3">
                    <label for="txtDomicilio">Domicilio:</label>
                </div>
                <br>
                <div class="md-form mt-3">
                    <label for="txtCalle">Calle</label>
                    <input type="text" class="form-control" id="txtCalle">
                </div>
                <div class="md-form mt-3">
                    <label for="txtColonia">Colonia</label>
                    <input type="text" class="form-control" id="txtColonia">
                </div>
                <div class="md-form mt-3">
                    <label for="txtCP">C.P</label>
                    <input type="text" class="form-control" id="txtCP">
                </div>

                <div class="md-form mt-3">
                    <label for="txtTelefono">Telefono</label>
                    <input type="text" class="form-control" id="txtTelefono">
                </div>


                <div class="md-form mt-3">
                    <label for="txtUsuario">Usuario</label>
                    <input type="text" class="form-control" id="txtUsuario">
                </div>
                
                
                <div class="md-form mt-3">
                    <label for="txtContrasena" id="lbCon">Contraseña</label>
                    <input type="text" class="form-control" id="txtContrasena">
                </div>


                <div class="md-form mt-3">
                    <label for="txtCorreo">Correo</label>
                    <input type="text" class="form-control" id="txtCorreo">
                </div>

                <input type="hidden" id="txtClienteId">
                <input type="hidden" id="txtPersonaId">
                <input type="hidden" id="txtUsuarioId">

                <div class="text-center mt-4">
                    <button class="btn btn-success mr-2" id="btnGuardar" onclick="decidirCliente()" data-dismiss="modal" aria-label="Close"><i class="fas fa-save"></i>
                        Agregar</button>
                    <button class="btn btn-danger ml-2" id="btnElimCancel" onclick="eliminarProducto()" data-dismiss="modal" aria-label="Close"><i class="fas fa-trash-alt"></i>
                        Eliminar</button>

                </div>

            </div>

        </div>
        <!--/.Content-->
    </div>
</div>