<div class="jumbotron-fluid py-4" >
    <p class="display-3 font-weight-bold  text-center" style="color: #9f499f;">
        <i class="fas fa-spray-can"></i>
        Productos

    </p>
</div>

<div class="col-sm-12 py-3 ">
    <div class="row justify-content-center form-group" >
        <button class="btn btn-primary " data-toggle="modal" data-target="#detailModal"  onclick="limpiarDatosProductos()"><i class="fas fa-plus-circle"></i>
            Agregar</button>
        <button class="btn btn-success" onclick="filtrarTablaProductos()"><i class="fas fa-search-plus"></i>
            Buscar</button>
        <input id="txtBuscarProducto" type="text" class="col-sm-3 form-control" onkeydown="buscarProducto()" >
        <button id="txtReturn" class="btn btn-grey text-white" onclick="btnRegresarPros()" style="display: none;"><i class="fas fa-arrow-left"></i></button>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card-body  col-md-12">
            <div class="table-responsive" >
                <table class="table table-hover table-border">
                    <thead class="bg-color-hp text-white" >
                        <tr>

                            <th scope="col">Nombre</th>
                            <th scope="col">Descripccion</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Proveedor</th>
                            <th scope="col">Fotografía</th>
                            <th class="th-sm h6 ">Detalles</th>
                        </tr>
                    </thead>
                    <tbody id="tbProducto">

                    </tbody>
                </table>
            </div>
        </div>  
    </div>
</div>

<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog cascading-modal modal-avatar modal-m" role="document">
        <!--Content-->
        <div class="modal-content">
            <br>
            <!--Header-->
            <div class="modal-header bg-color-hp text-light">    
                <h5 class="mt-1 mb-2"><i class="fas fa-spray-can"></i> Agregar Producto</h5>
            </div>
            <!--Body-->
            <div class="modal-body text-center mb-1">
                <br>
                <div class="md-form mt-3">
                    <label for="txtNombre">Nombre</label>
                    <input type="text" class="form-control" id="txtNombre">
                </div>
                <div class="md-form mt-3">
                    <label for="txtDescripccion">Descripción</label>
                    <input type="text" class="form-control" id="txtDescripccion">
                </div>
                <div class="md-form mt-3">
                    <label for="txtPrecio">Precio</label>
                    <input type="text" class="form-control" id="txtprecio">
                </div>
                <div class="md-form mt-3">
                    <label for="txtProveedor">Proveedor</label>
                    <input type="text" class="form-control" id="txtproveedor">
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-6 mb-6">
                    <layout for="txtFoto2" class="h4">Fotografia:</layout>
                    <img id="imgFoto2" width="200vw" height="200vh">
                    <form>
                        <div class="md-form">
                            <div class="file-field">
                                <div class="btn bg-color-hp btn-lg float-left waves-effect waves-light text-light">
                                    <span>Choose file</span>
                                    <input type="file" name="txtFoto2" id="txtFoto2" class="btn-block form-control text-black" onchange="cargarFoto1();">
                                    <textarea hidden="true" class="form-control text-black" name="txtBase642" id="txtBase642"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
                

                <input type="hidden" id="txtIdProducto">

                <div class="text-center mt-4">
                    <button class="btn btn-success mr-2" id="btnGuardar" onclick="decidirProducto()" data-dismiss="modal" aria-label="Close"><i class="fas fa-save"></i>
                        Agregar</button>
                    <button class="btn btn-danger ml-2" id="btnElimCancel" onclick="eliminarProducto()" data-dismiss="modal" aria-label="Close"><i class="fas fa-trash-alt"></i>
                        Eliminar</button>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>