<div class="jumbotron-fluid py-4" >
    <p class="display-3 font-weight-bold  text-center" style="color: #9f499f;">
        <i class="fas fa-spray-can"></i>
        Servicios

    </p>
</div>
<div class="col-sm-12 py-3 ">
    <div class="row justify-content-center form-group" >
        <button class="btn btn-primary " data-toggle="modal" data-target="#detailModal" onclick="limpiarDatosServicios()"><i class="fas fa-plus-circle"></i>
            Agregar</button>
        <button class="btn btn-success" onclick="filtrarTablaServicios()"><i class="fas fa-search-plus"></i>
            Buscar</button>
        <input id="txtBuscar" type="text" class="col-sm-3 form-control" onkeydown="buscarSer()">
        <button id="txtReturn" class="btn btn-grey text-white" onclick="btnRegresarPros()" style="display: none;"><i class="fas fa-arrow-left"></i></button>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card-body  col-md-12">
            <div class="table-responsive" >
                <table class="table table-hover table-border">
                    <thead class="bg-color-hp text-white" >
                        <tr>

                            <th scope="col">Nombre</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Detalle</th>

                        </tr>
                    </thead>
                    <tbody id="tbServicio">

                    </tbody>
                </table>
            </div>
        </div>  
    </div>
</div>

<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog cascading-modal modal-avatar modal-m" role="document">
        <!--Content-->
        <div class="modal-content">
            <br>
            <!--Header-->
            <div class="modal-header bg-color-hp text-light">    
                <h5 class="mt-1 mb-2"><i class="fas fa-spray-can"></i> Agregar Servicio</h5>
            </div>
            <!--Body-->
            <div class="modal-body text-center mb-1">
                <br>
                <div class="md-form mt-3">
                    <label for="txtNombre">Nombre</label>
                    <input type="text" class="form-control" id="txtNombre">
                </div>
                
                <div class="md-form mt-3">
                    <label for="txtDescripcion">Descripcion</label>
                    <input type="text" class="form-control" id="txtDescripcion">
                </div>
                <div class="md-form mt-3">
                    <label for="txtPrecio">Precio</label>
                    <input type="text" class="form-control" id="txtPrecio">
                </div>


                <label>Tipo</label><br>

                <div class="form-check form-check-inline">
                    <input
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="txtTipo1"
                        value="option1"
                        />
                    <label class="form-check-label" for="txtTipo1">Medico</label>
                </div>

                <div class="form-check form-check-inline">
                    <input
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="txtTipo2"
                        value="option2"
                        />
                    <label class="form-check-label" for="txtTipo2">Estetico</label>
                </div>


                <input type="hidden" id="txtIdServicio">
                
                <div class="text-center mt-4">
                    <button class="btn btn-success mr-2" id="btnGuardar" onclick="decidirServicio()" data-dismiss="modal" aria-label="Close"><i class="fas fa-save"></i>
                        Agregar</button>
                    <button class="btn btn-danger ml-2" id="btnElimCancel" onclick="eliminarServicio()" data-dismiss="modal" aria-label="Close"><i class="fas fa-trash-alt"></i>
                        Eliminar</button>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>